flows_kardex_client.json
[{"id":"7dffdebb.dc0d3","type":"tab","label":"Kardex Kitting Client Build","disabled":false,"info":""},{"id":"330a9e2e.dbb222","type":"http request","z":"7dffdebb.dc0d3","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":640,"wires":[["b1adc297.267a"]]},{"id":"4f929403.80552c","type":"function","z":"7dffdebb.dc0d3","name":"Set headers","func":"let username = flow.get('username')\nlet password = flow.get('password')\n\n\nmsg.headers =  {}\nmsg.headers['Content-Type'] = 'application/json';\nmsg.payload = {\"username\":username,\"password\":password};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":640,"wires":[["6a7173e2.0b8bbc"]]},{"id":"a32d57bf.c79a38","type":"function","z":"7dffdebb.dc0d3","name":"Save API tokens","func":"var accessToken = msg.payload.accessToken;\nvar refreshToken = msg.payload.refreshToken;\n\nlet data = JSON.parse(msg.payload);\n\nflow.set(\"accessToken\", data.accessToken);\nflow.set(\"refreshToken\", data.refreshToken);\nflow.set(\"flow_started\", 1)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":580,"wires":[["ad6930f9.b2518"]]},{"id":"325efdbe.9031e2","type":"comment","z":"7dffdebb.dc0d3","name":"Refresh API Access","info":"","x":110,"y":220,"wires":[]},{"id":"350f7b49.c42474","type":"http request","z":"7dffdebb.dc0d3","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":860,"wires":[["8799b652.be84b8"]]},{"id":"4348fb7e.3a59c4","type":"function","z":"7dffdebb.dc0d3","name":"Set headers","func":"msg.headers =  {}\nmsg.headers['Content-Type'] = 'application/json';\n\nvar accessToken = flow.get(\"accessToken\");\nmsg.headers['Authorization'] = \"Bearer \" + accessToken;\nmsg.payload = {};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":860,"wires":[["b9d84328.9396b"]]},{"id":"39bc7f64.e2201","type":"function","z":"7dffdebb.dc0d3","name":"Filter - Active Jobs","func":"var jobs_obj = JSON.parse(msg.payload);\nvar jobs = jobs_obj.jobs;\n\nvar temp = {};\nfor (var i=0; i<jobs.length; i++){\n    if (jobs[i].lines.length > 0)\n        temp[jobs[i].id]={\"id\":jobs[i].id, \"name\":jobs[i].name, \"number\":jobs[i].number, \"lines\": jobs[i].lines};\n}\n\n\njobs = [];\nfor (var o in temp){\n    jobs.push(temp[o]);\n}\n\n\nflow.set(\"jobs\", jobs);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":800,"wires":[["39981a5b.765b06"]]},{"id":"6a1b8eb0.51bba","type":"comment","z":"7dffdebb.dc0d3","name":"Jobs","info":"","x":70,"y":720,"wires":[]},{"id":"57a588fd.7c38c8","type":"comment","z":"7dffdebb.dc0d3","name":"get kits from active jobs","info":"","x":120,"y":1020,"wires":[]},{"id":"dd44515e.35fcb","type":"change","z":"7dffdebb.dc0d3","name":"Set base URL","rules":[{"t":"set","p":"base_url","pt":"flow","to":"http://integrity.itempath.com/api","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":160,"wires":[[]]},{"id":"6a7173e2.0b8bbc","type":"function","z":"7dffdebb.dc0d3","name":"Set url","func":"let base_url = flow.get(\"base_url\");\n\nmsg.url = base_url + \"/users/login\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":640,"wires":[["330a9e2e.dbb222"]]},{"id":"b9d84328.9396b","type":"function","z":"7dffdebb.dc0d3","name":"Set url","func":"let base_url = flow.get(\"base_url\");\n\nmsg.url = base_url + \"/jobs?limit=10000\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":860,"wires":[["350f7b49.c42474"]]},{"id":"8a2b718f.d3d52","type":"catch","z":"7dffdebb.dc0d3","name":"","scope":null,"uncaught":false,"x":120,"y":2500,"wires":[["e0503c1b.3f444"]]},{"id":"67f4f125.3511c","type":"ui_toast","z":"7dffdebb.dc0d3","position":"top right","displayTime":"5","highlight":"RED","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":550,"y":2500,"wires":[]},{"id":"e0503c1b.3f444","type":"change","z":"7dffdebb.dc0d3","name":"getError","rules":[{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2500,"wires":[["67f4f125.3511c"]]},{"id":"1b5cb53a.d51b1b","type":"function","z":"7dffdebb.dc0d3","name":"Check for login","func":"let started = flow.get(\"flow_started\")\n\nif (started === 0){\n    return [msg, null]\n} else {\n    let accessToken = flow.get(\"accessToken\") \n    let refreshToken = flow.get(\"refreshToken\")\n    \n    if (accessToken === null || typeof accessToken != String || refreshToken === null || typeof refreshToken != String)\n        return [msg, null]\n        \n    return [null, msg]\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":460,"y":420,"wires":[["ecc73fcb.ec218"],["649cfb3f.bb8234"]]},{"id":"649cfb3f.bb8234","type":"link out","z":"7dffdebb.dc0d3","name":"","links":["f281251a.902898"],"x":655,"y":460,"wires":[]},{"id":"f281251a.902898","type":"link in","z":"7dffdebb.dc0d3","name":"","links":["649cfb3f.bb8234","6a37d6ae.2b88c8"],"x":155,"y":860,"wires":[["4348fb7e.3a59c4","f9b8e3b7.ea52d"]]},{"id":"8f4084bb.2aad68","type":"inject","z":"7dffdebb.dc0d3","name":"Startup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"startup","payload":"","payloadType":"date","x":140,"y":160,"wires":[["866bcba5.78b718"]]},{"id":"866bcba5.78b718","type":"change","z":"7dffdebb.dc0d3","name":"Reset nodes","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"accessToken","pt":"flow"},{"t":"delete","p":"refreshToken","pt":"flow"},{"t":"delete","p":"kits","pt":"flow"},{"t":"delete","p":"jobs","pt":"flow"},{"t":"delete","p":"kit_name","pt":"flow"},{"t":"delete","p":"kit_quantities","pt":"flow"},{"t":"delete","p":"kit_selected","pt":"flow"},{"t":"delete","p":"refresh_count","pt":"flow"},{"t":"set","p":"flow_started","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"queue_length","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"kit_queue_length","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":160,"wires":[["cba54f6f.ebc3e"]]},{"id":"ecc73fcb.ec218","type":"link out","z":"7dffdebb.dc0d3","name":"","links":["d26a8371.ba1a6"],"x":655,"y":380,"wires":[]},{"id":"d26a8371.ba1a6","type":"link in","z":"7dffdebb.dc0d3","name":"","links":["ecc73fcb.ec218","12814208.b49d1e"],"x":155,"y":640,"wires":[["4f929403.80552c","bd930d47.4f9f9"]]},{"id":"ef7373a3.ce2d8","type":"comment","z":"7dffdebb.dc0d3","name":"Login to API connection","info":"","x":800,"y":380,"wires":[]},{"id":"92da4b5f.f47028","type":"comment","z":"7dffdebb.dc0d3","name":"Request kit list","info":"","x":780,"y":460,"wires":[]},{"id":"ef26b925.305798","type":"comment","z":"7dffdebb.dc0d3","name":"Login","info":"","x":70,"y":540,"wires":[]},{"id":"5f08ae46.89bd4","type":"comment","z":"7dffdebb.dc0d3","name":"From client","info":"","x":120,"y":600,"wires":[]},{"id":"fda5f80.d845d08","type":"function","z":"7dffdebb.dc0d3","name":"Set headers","func":"msg.headers = {}\nmsg.headers['Content-Type'] = 'application/json';\nvar refreshToken = flow.get(\"refreshToken\");\nmsg.headers['Authorization'] = \"Bearer \" + refreshToken;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":280,"wires":[["6ea8f47d.85b15c"]]},{"id":"6ea8f47d.85b15c","type":"function","z":"7dffdebb.dc0d3","name":"Set url","func":"let base_url = flow.get(\"base_url\");\n\nmsg.url = base_url + \"/users/refresh\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":280,"wires":[["50f89063.c31ef"]]},{"id":"50f89063.c31ef","type":"http request","z":"7dffdebb.dc0d3","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":280,"wires":[["a2af473a.5bc8e8","74d5274a.a682f8"]]},{"id":"a2af473a.5bc8e8","type":"function","z":"7dffdebb.dc0d3","name":"","func":"var accessToken = msg.payload.accessToken;\n\nlet data = JSON.parse(msg.payload);\n\nflow.set(\"accessToken\", data.accessToken);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":280,"wires":[["37091dc2.0c9f32"]]},{"id":"10c9492a.bef307","type":"function","z":"7dffdebb.dc0d3","name":"Error","func":"msg.topic = \"jobs\"\nnode.error(`Error: ` + msg.payload, msg)\n\nmsg.req = flow.get(\"req\")\nmsg.res = flow.get(\"res\")\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":900,"wires":[["2254f8cb.82a928"]]},{"id":"d427de00.8f741","type":"comment","z":"7dffdebb.dc0d3","name":"client - request kitting list","info":"","x":130,"y":340,"wires":[]},{"id":"a318e989.1524c8","type":"comment","z":"7dffdebb.dc0d3","name":"Error Handling","info":"","x":90,"y":2440,"wires":[]},{"id":"ad6930f9.b2518","type":"link out","z":"7dffdebb.dc0d3","name":"","links":["7e7a1031.a80fd"],"x":1175,"y":580,"wires":[]},{"id":"2a8a06f2.7625ca","type":"comment","z":"7dffdebb.dc0d3","name":"From client","info":"","x":120,"y":819,"wires":[]},{"id":"37091dc2.0c9f32","type":"debug","z":"7dffdebb.dc0d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":280,"wires":[]},{"id":"404929b7.72c9f8","type":"http in","z":"7dffdebb.dc0d3","name":"GET:kitting list","url":"/kitting/kits/","method":"get","upload":false,"swaggerDoc":"","x":210,"y":420,"wires":[["1b5cb53a.d51b1b","406ff110.1056e"]]},{"id":"de7f59e9.a7f1b8","type":"inject","z":"7dffdebb.dc0d3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":280,"wires":[["fda5f80.d845d08"]]},{"id":"b1adc297.267a","type":"function","z":"7dffdebb.dc0d3","name":"Check API response","func":"let statusCode = msg.statusCode\nlet response = JSON.parse(msg.payload)\n\nif (statusCode == 200){\n    if (response.hasOwnProperty('accessToken') && response.hasOwnProperty('refreshToken'))   \n        return [msg, null]\n    else {\n        msg.payload = {\"message\":\"Invalid response from API\"}\n        msg.statusCode = 400\n        return [null, msg]\n    }\n} else {\n    return [null, msg]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":820,"y":640,"wires":[["a32d57bf.c79a38"],["daa820af.508b3"]]},{"id":"cba54f6f.ebc3e","type":"change","z":"7dffdebb.dc0d3","name":"Set ItemPath API credentials","rules":[{"t":"set","p":"username","pt":"flow","to":"Admin","tot":"str"},{"t":"set","p":"password","pt":"flow","to":"RaH3UDo9","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":160,"wires":[["dd44515e.35fcb"]]},{"id":"daa820af.508b3","type":"function","z":"7dffdebb.dc0d3","name":"Error","func":"msg.topic = \"login\"\nnode.error(`Error: ` + msg.payload, msg);\n\nmsg.req = flow.get(\"req\")\nmsg.res = flow.get(\"res\")\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":700,"wires":[["9b064e80.01bfe"]]},{"id":"9b064e80.01bfe","type":"http response","z":"7dffdebb.dc0d3","name":"Response -> GET:kitting list ","statusCode":"","headers":{},"x":1200,"y":700,"wires":[]},{"id":"8799b652.be84b8","type":"function","z":"7dffdebb.dc0d3","name":"Check API response","func":"let statusCode = msg.statusCode\nlet response = JSON.parse(msg.payload)\n\nif (statusCode == 200){\n    if (response.hasOwnProperty('jobs'))   \n        return [msg, null]\n    else {\n        msg.payload = {\"message\":\"Invalid response from API\"}\n        msg.statusCode = 400\n        return [null, msg]\n    }\n} else {\n    return [null, msg]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":820,"y":860,"wires":[["39bc7f64.e2201"],["10c9492a.bef307"]]},{"id":"7e7a1031.a80fd","type":"link in","z":"7dffdebb.dc0d3","name":"","links":["ad6930f9.b2518"],"x":155,"y":939,"wires":[["4348fb7e.3a59c4","f9b8e3b7.ea52d"]]},{"id":"69e0f0e8.126e4","type":"comment","z":"7dffdebb.dc0d3","name":"From login","info":"","x":120,"y":899,"wires":[]},{"id":"39981a5b.765b06","type":"link out","z":"7dffdebb.dc0d3","name":"","links":["80cc23f5.add8a","4f7afa5b.ee81f4","66f81be3.d82c74"],"x":1235,"y":800,"wires":[]},{"id":"2254f8cb.82a928","type":"http response","z":"7dffdebb.dc0d3","name":"Response -> GET:kitting list ","statusCode":"","headers":{},"x":1200,"y":900,"wires":[]},{"id":"a9504b52.bacd78","type":"function","z":"7dffdebb.dc0d3","name":"Check API response","func":"let statusCode = msg.statusCode\nlet response = JSON.parse(msg.payload)\n\nif (statusCode == 200){\n    if (response.hasOwnProperty('job')) {\n        return [msg, null]\n    } else {\n        msg.payload = \"Invalid response from API\"\n        msg.statusCode = 400\n        \n        node.warn(msg)\n        return [null, msg]\n    }\n} else {\n    msg.payload = \"Invalid response from API\"\n    msg.statusCode = 400\n    return [null, msg]\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":220,"y":1260,"wires":[["fd624641.965938","8fc3b9a6.07ee78"],["4b1ef77e.5c2488"]]},{"id":"4f7afa5b.ee81f4","type":"link in","z":"7dffdebb.dc0d3","name":"","links":["39981a5b.765b06"],"x":75,"y":1080,"wires":[["8b45403e.50fe3"]]},{"id":"de3d1f3b.50baa","type":"function","z":"7dffdebb.dc0d3","name":"Set headers","func":"msg.url = {}\n\nmsg.headers =  {}\nmsg.headers['Content-Type'] = 'application/json';\n\nvar accessToken = flow.get(\"accessToken\");\nmsg.headers['Authorization'] = \"Bearer \" + accessToken;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":1080,"wires":[["456d67a7.0d5878"]]},{"id":"456d67a7.0d5878","type":"function","z":"7dffdebb.dc0d3","name":"Set url","func":"let base_url = flow.get(\"base_url\");\n\nmsg.url = base_url + \"/jobs/\" + msg.payload.id +\"?=\";\nmsg.topic = \"http\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":1080,"wires":[["6eb886f0.85c4b8"]]},{"id":"6eb886f0.85c4b8","type":"http request","z":"7dffdebb.dc0d3","name":"http request","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":1080,"wires":[["9528ba9f.913ed8"]]},{"id":"4b1ef77e.5c2488","type":"function","z":"7dffdebb.dc0d3","name":"Error","func":"let return_response = flow.get(\"show_jobs_stop\")\nflow.set(\"show_jobs_stop\", 1)\n\nnode.error(`Error: ` + msg.payload, msg)\nlet res_msg = null\n\nif (return_response === 0){\n    res_msg = {}\n    res_msg.req = flow.get(\"req\")\n    res_msg.res = flow.get(\"res\")\n    res_msg.payload = msg.payload\n    res_msg.statusCode = msg.statusCode\n\n}\n\nmsg.reset = 1\nreturn [msg, res_msg]","outputs":2,"noerr":0,"initialize":"","finalize":"","x":430,"y":1300,"wires":[["8e0c74cf.bd5298"],["b15b52ca.589a6"]]},{"id":"b15b52ca.589a6","type":"http response","z":"7dffdebb.dc0d3","name":"Response -> GET:kitting list ","statusCode":"","headers":{},"x":640,"y":1340,"wires":[]},{"id":"df90e2a1.af789","type":"function","z":"7dffdebb.dc0d3","name":"Check if job has active kits","func":"let jobs = msg.payload\n\nlet active_kits = []\n\nfor (var j=0; j<jobs.length; j++){\n    var job_obj = JSON.parse(jobs[j]);\n\n    var job = job_obj.job;\n    var id  = job.id;\n    var name = job.name;\n    var lines = job.lines;\n    var number = job.number;\n    var job_kits = {\"id\": id, \"name\": name, \"kits\":[]}\n    node.warn(job_obj)\n    for (var i=0; i<lines.length; i++){\n        if (lines[i].Info4 !== null && lines[i].Info4 !== 'None'){\n            let kit_name = lines[i].Info4\n            let kit_line = {\"detail\":lines[i].Info1, \"description\":lines[i].Info2, \"type\":lines[i].Info3, \"materialId\":lines[i].materialId}\n            let job_kit_list = job_kits.kits\n            let found = false\n            for (var k=0; k<job_kit_list.length; k++){\n                if (job_kit_list[k].name === kit_name){\n                    job_kits.kits[k][\"lines\"].push(kit_line)\n                    found = true\n                    break\n                }\n            }\n             if (!found){\n                 job_kits.kits.push({\"name\": kit_name, \"job_id\": id, \"job_name\": name, \"lines\":[kit_line]})\n             }\n        }\n    }\n\n    active_kits.push(job_kits)\n    \n}\n\nmsg.active_kits = active_kits\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1220,"wires":[["bb3fb729.0af8c8"]]},{"id":"8b45403e.50fe3","type":"function","z":"7dffdebb.dc0d3","name":"Get job list","func":"let jobs = flow.get(\"jobs\");\nvar new_jobs = [];\n\nfor (var i=0; i< jobs.length; i++){\n    new_jobs.push({\"id\":jobs[i].id, \"name\":jobs[i].name, \"number\":jobs[i].number});\n}\n\nmsg.payload = new_jobs\n\nflow.set(\"kits\", [])\nflow.set(\"job_materials\", [])\nflow.set(\"show_jobs_stop\", 0)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":1080,"wires":[["3606f88.6d1e508"]]},{"id":"3606f88.6d1e508","type":"split","z":"7dffdebb.dc0d3","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":350,"y":1080,"wires":[["de3d1f3b.50baa"]]},{"id":"20f54a2c.073616","type":"comment","z":"7dffdebb.dc0d3","name":"List jobs","info":"","x":620,"y":820,"wires":[]},{"id":"2f4a69f6.fad546","type":"comment","z":"7dffdebb.dc0d3","name":"Show job","info":"","x":820,"y":1040,"wires":[]},{"id":"bb3fb729.0af8c8","type":"link out","z":"7dffdebb.dc0d3","name":"","links":["cf766162.4ee58"],"x":995,"y":1220,"wires":[]},{"id":"6f26dc10.9b66c4","type":"function","z":"7dffdebb.dc0d3","name":"Set headers","func":"msg.topic = \"\"\nmsg.headers =  {}\nmsg.headers['Content-Type'] = 'application/json';\n\nvar accessToken = flow.get(\"accessToken\");\nmsg.headers['Authorization'] = \"Bearer \" + accessToken;\nmsg.payload = {};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":1480,"wires":[["e2a8bd35.d960b"]]},{"id":"e2a8bd35.d960b","type":"function","z":"7dffdebb.dc0d3","name":"Set url","func":"let base_url = flow.get(\"base_url\");\n\nmsg.url = base_url + \"/kits?limit=1000\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":1480,"wires":[["c5328491.b41408"]]},{"id":"c5328491.b41408","type":"http request","z":"7dffdebb.dc0d3","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":1480,"wires":[["d6ccb367.939d3"]]},{"id":"c71d7a95.1f41c8","type":"function","z":"7dffdebb.dc0d3","name":"Check active kits for stock","func":"let response = JSON.parse(msg.payload)\nlet all_kits = response.kits\nlet active_job_kits = msg.active_kits\n\nlet active_kits = []\nlet stock_kits = []\nlet kit_summary = []\nvar i=0,j=0,k=0,m=0\n\n\nfor (i=0; i<active_job_kits.length; i++){\n    Array.prototype.push.apply(active_kits, active_job_kits[i].kits)\n}\n\n\nfor (i=0; i < all_kits.length; i++){\n    var items = all_kits[i].lines \n    var kit_name = all_kits[i].name\n    var kit_id = all_kits[i].id\n    var in_stock = 0\n    var total = 0\n\n    for (j=0; j < items.length; j++){\n        if (items[j].hasStock){\n            in_stock++\n        }\n        total++;\n    }\n    let percent = in_stock/total * 100\n    kit_summary.push({ \"kit\": all_kits[i].name, \"in-stock\":in_stock, \"total\": total, \"percent\": percent})\n    \n    if(in_stock > 0){\n\n        let stock_kit = []\n        for (j=0; j < active_kits.length; j++){\n            let found = false\n            let job_name = active_kits[j].job_name\n            if (active_kits[j].hasOwnProperty(\"name\"))\n                if (kit_name == active_kits[j].name){\n                    found = true\n                    var active_kit = active_kits[j]\n                    var kit_lines = []\n                    stock_kit = {\"id\":kit_id,\"name\": kit_name, \"job_name\": job_name}\n                    for (k=0; k < active_kit.lines.length; k++){\n                        var active_kit_line = active_kit.lines[k]\n                        for (m=0; m<items.length; m++){\n                            if (active_kit_line.materialId == items[m].materialId){\n                                kit_lines.push({\"id\":kit_id,\"name\": kit_name, \"materialId\":active_kit_line.materialId,\n                                    \"quantity\":items[m].quantity, \"detail\":active_kit_line.detail,\n                                    \"description\":active_kit_line.description, \"type\":active_kit_line.type})\n                                break;\n                            }\n                        }\n                    }\n                    if (found){\n                        stock_kit[\"lines\"] = kit_lines\n                        break\n                    }\n                }\n        }\n        if (typeof stock_kit === 'object' && stock_kit !== null)\n            if (Array.isArray(stock_kit.lines) && stock_kit.lines.length > 0)\n                stock_kits.push(stock_kit)\n    }     \n}\n\nif (kit_summary.length === 0)\n    kit_summary.push({ \"kit\": \"No kits have stock\", \"in-stock\":0, \"total\": 0, \"percent\": \"0%\"})\nelse {\n    kit_summary.sort((a,b) => (a.percent < b.percent) ? 1 : ((b.percent < a.percent) ? -1 : 0)); \n\n    for (k=0; k < kit_summary.length; k++){\n        kit_summary[k].percent = parseFloat(kit_summary[k].percent).toFixed(0)+\"%\"\n    }\n}\n\nflow.set(\"kit_quantities\", kit_summary)\nflow.set(\"stock_kits\", stock_kits)\n\nmsg.payload = kit_summary\nmsg.stock_kits = stock_kits\n\nmsg.req = flow.get(\"req\")\nmsg.res = flow.get(\"res\")\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":1440,"wires":[["e26ce64.ac72418"]]},{"id":"e27eb178.b0b19","type":"comment","z":"7dffdebb.dc0d3","name":"check stock for active kits","info":"","x":130,"y":1400,"wires":[]},{"id":"cf766162.4ee58","type":"link in","z":"7dffdebb.dc0d3","name":"","links":["bb3fb729.0af8c8"],"x":75,"y":1480,"wires":[["6f26dc10.9b66c4"]]},{"id":"d6ccb367.939d3","type":"function","z":"7dffdebb.dc0d3","name":"Check API response","func":"let statusCode = msg.statusCode\nlet response = JSON.parse(msg.payload)\n\nif (statusCode == 200){\n    if (response.hasOwnProperty('kits'))   \n        return [msg, null]\n    else {\n        msg.payload = {\"message\":\"Invalid response from API\"}\n        msg.statusCode = 400\n        msg.topic = \"queue\"\n        \n        node.warn(msg)\n        return [null, msg]\n    }\n} else {\n    return [null, msg]\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":720,"y":1480,"wires":[["c71d7a95.1f41c8"],["41dc71d0.dd36c"]]},{"id":"41dc71d0.dd36c","type":"function","z":"7dffdebb.dc0d3","name":"Error","func":"node.error(`Error: ` + msg.payload, msg)\n\nmsg.req = flow.get(\"req\")\nmsg.res = flow.get(\"res\")\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":1560,"wires":[["43e431aa.a58cd"]]},{"id":"43e431aa.a58cd","type":"http response","z":"7dffdebb.dc0d3","name":"Response -> GET:kitting list ","statusCode":"","headers":{},"x":1160,"y":1560,"wires":[]},{"id":"e26ce64.ac72418","type":"http response","z":"7dffdebb.dc0d3","name":"Response -> GET:kitting list ","statusCode":"","headers":{},"x":1260,"y":1440,"wires":[]},{"id":"34316a83.714346","type":"comment","z":"7dffdebb.dc0d3","name":"from show job req","info":"","x":110,"y":1180,"wires":[]},{"id":"20b6089e.0c3518","type":"comment","z":"7dffdebb.dc0d3","name":"to stock check","info":"","x":1110,"y":1200,"wires":[]},{"id":"406ff110.1056e","type":"function","z":"7dffdebb.dc0d3","name":"Save http req/res","func":"flow.set(\"req\", msg.req)\nflow.set(\"res\", msg.res)\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":360,"wires":[[]]},{"id":"bd930d47.4f9f9","type":"function","z":"7dffdebb.dc0d3","name":"Message: Logging in","func":"msg.payload = \"Loggging into Kardex... \"\nmsg.socketIOEvent = \"message\"\nmsg.socketIOEmit = \"emit\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":560,"wires":[["83331678.dac4c8"]]},{"id":"f9b8e3b7.ea52d","type":"function","z":"7dffdebb.dc0d3","name":"Message: Requesting active jobs","func":"msg.payload = \"Requesting list of active jobs from Kardex... \"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":760,"wires":[["6a693485.bbbeac"]]},{"id":"8fc3b9a6.07ee78","type":"function","z":"7dffdebb.dc0d3","name":"Message: Requesting active jobs","func":"let count = msg.parts.count //flow.get(\"queue_length\")\nlet index = msg.parts.index //flow.get(\"jobs\")\n\nif (index > 0)\n    msg.payload = \"Getting active job# \" + index + \" of \" + count + \" from Kardex...\"\n    msg.topic = \"message\"\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1160,"wires":[["546a8357.a731ac"]]},{"id":"d70cfa64.2fa6e8","type":"inject","z":"7dffdebb.dc0d3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":480,"wires":[["bd930d47.4f9f9"]]},{"id":"4e3ae44d.ee19fc","type":"aedes broker","z":"7dffdebb.dc0d3","name":"aedes","mqtt_port":1883,"mqtt_ws_port":"8201","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":450,"y":500,"wires":[[]]},{"id":"83331678.dac4c8","type":"mqtt out","z":"7dffdebb.dc0d3","name":"","topic":"message","qos":"","retain":"","broker":"a29723e0.803f9","x":570,"y":560,"wires":[]},{"id":"6a693485.bbbeac","type":"mqtt out","z":"7dffdebb.dc0d3","name":"","topic":"message","qos":"","retain":"","broker":"a29723e0.803f9","x":620,"y":760,"wires":[]},{"id":"627c8999.895e68","type":"comment","z":"7dffdebb.dc0d3","name":"client - request kit details","info":"","x":150,"y":1620,"wires":[]},{"id":"a9287a83.142408","type":"http in","z":"7dffdebb.dc0d3","name":"GET:kit detail","url":"/kitting/kit","method":"get","upload":false,"swaggerDoc":"","x":190,"y":1720,"wires":[["6f085d74.ce0614","fba7f461.eb1df8","faf137b6.6b1b98"]]},{"id":"6f085d74.ce0614","type":"function","z":"7dffdebb.dc0d3","name":"Get selected kit name","func":"let name = msg.req.query.name\nflow.set(\"kit_name\", name)\n\nmsg.payload = name;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1780,"wires":[["3dfc5ec6.91bc82"]]},{"id":"695f15e6.db948c","type":"comment","z":"7dffdebb.dc0d3","name":"get material details for kit","info":"","x":130,"y":1840,"wires":[]},{"id":"b342b07a.fd31b","type":"function","z":"7dffdebb.dc0d3","name":"Get selected kit items","func":"let name = msg.payload\nlet kits = flow.get(\"stock_kits\")\nlet id = ''\nlet job_name =''\nlet kit_lines = []\n\nfor (var i=0; i<kits.length; i++){\n    kits[i].name.replace(/%20/g, \" \")\n    if (kits[i].name == name){\n        id = kits[i].id\n        kit_lines = kits[i].lines\n        job_name = kits[i].job_name\n        break\n    }\n}\n\nif (id.length === 0)\n    return [null, msg]\n\nflow.set(\"kit_lines\", kit_lines)\nflow.set(\"kit_materials\", [])\nflow.set(\"show_material_stop\", 0)\n\nmsg.payload = kit_lines\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":220,"y":1900,"wires":[["fe01349e.553638"],["9a0e0aa4.8c1f88"]]},{"id":"fe01349e.553638","type":"split","z":"7dffdebb.dc0d3","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":430,"y":1860,"wires":[["5a1ac86a.cebc98"]]},{"id":"49d0ccea.3821e4","type":"function","z":"7dffdebb.dc0d3","name":"Message: Requesting kit item details","func":"let count = msg.parts.count \nlet index = msg.parts.index \n\nif (index > 0)\n    msg.payload = \"Getting item# \" + index + \" of \" + count + \" from Kardex...\"\n    msg.topic = \"message\"\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":2000,"wires":[["304e0a3.1083ef6"]]},{"id":"a53702b.67e4f","type":"link in","z":"7dffdebb.dc0d3","name":"","links":["3dfc5ec6.91bc82"],"x":75,"y":1900,"wires":[["b342b07a.fd31b"]]},{"id":"35bc19b4.5e10e6","type":"function","z":"7dffdebb.dc0d3","name":"Check API response","func":"let statusCode = msg.statusCode\nlet response = JSON.parse(msg.payload)\n\nif (statusCode == 200){\n    if (response.hasOwnProperty('material'))   \n        return [msg, null]\n    else {\n        msg.payload = {\"message\":\"Invalid response from API\"}\n        msg.statusCode = 400\n        msg.topic = \"queue\"\n        \n        node.warn(msg)\n        return [null, msg]\n    }\n} else {\n    return [null, msg]\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":240,"y":2100,"wires":[["49d0ccea.3821e4","54f157f4.4f7ea8"],["503cbb7a.c157c4"]]},{"id":"5a1ac86a.cebc98","type":"function","z":"7dffdebb.dc0d3","name":"Set headers","func":"msg.url = {}\n\nmsg.headers =  {}\nmsg.headers['Content-Type'] = 'application/json';\n\nvar accessToken = flow.get(\"accessToken\");\nmsg.headers['Authorization'] = \"Bearer \" + accessToken;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1860,"wires":[["f77ab531.c12b98"]]},{"id":"f77ab531.c12b98","type":"function","z":"7dffdebb.dc0d3","name":"Set url","func":"let base_url = flow.get(\"base_url\");\n\nmsg.url = base_url + \"/materials/\" + msg.payload.materialId +\"?=\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":1860,"wires":[["92fe707f.a9b8e"]]},{"id":"92fe707f.a9b8e","type":"http request","z":"7dffdebb.dc0d3","name":"http request","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":1860,"wires":[["5cf3b978.1e6198"]]},{"id":"8d0bf1c8.35cf9","type":"http response","z":"7dffdebb.dc0d3","name":"Response -> GET:kit detail","statusCode":"","headers":{},"x":700,"y":2180,"wires":[]},{"id":"9ae965fd.f0d0d8","type":"function","z":"7dffdebb.dc0d3","name":"Parse material info","func":"let materials = msg.payload\nlet kit_name = flow.get(\"kit_name\")\n\nlet kit_materials = []\n\nfor (var i=0; i<materials.length; i++){\n    var materials_obj = JSON.parse(materials[i])\n    var material = materials_obj.material\n    var id = material.id\n    var current = material.currentQuantity\n    var name = material.name\n    \n    var kit_material = {\"id\":id, \"name\": name, \"current_quantity\": current}\n    kit_materials.push(kit_material)\n}\n\nreturn {\"payload\":kit_materials}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":2060,"wires":[["6c94c978.199848"]]},{"id":"d76e9c95.d1281","type":"comment","z":"7dffdebb.dc0d3","name":"Show material","info":"","x":910,"y":1820,"wires":[]},{"id":"b70446ab.daee18","type":"comment","z":"7dffdebb.dc0d3","name":"from show material req","info":"","x":120,"y":2040,"wires":[]},{"id":"7a92dca5.bc2204","type":"comment","z":"7dffdebb.dc0d3","name":"List kits","info":"","x":490,"y":1440,"wires":[]},{"id":"6e6027cb.d4e908","type":"function","z":"7dffdebb.dc0d3","name":"Merge kit bom and material info","func":"let kit_lines = flow.get(\"kit_lines\")\nlet response = msg.payload;\nlet found = false\nlet kit_detail = []\n\nfor (var i=0; i< kit_lines.length; i++){\n    found = false\n    for (var j=0; j< response.length; j++){\n        node.warn(response[j])\n        node.warn(kit_lines[i])\n        if (response[j].id === kit_lines[i].materialId){\n            kit_detail.push({\"detail\":kit_lines[i].detail, \"name\": response[j].name, \"description\":kit_lines[i].description, \"type\":kit_lines[i].type, \"requested_quantity\":kit_lines[i].quantity, \"stock_quantity\":response[j].current_quantity})\n            found = true\n            break;\n        }\n    }\n} \n\nmsg.payload = kit_detail\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":2320,"wires":[["8185d293.3bb46","8dd8c607.d2a6d8"]]},{"id":"fb977866.cb3fa8","type":"link in","z":"7dffdebb.dc0d3","name":"","links":["75bfd06b.cf24e","6c94c978.199848"],"x":75,"y":2320,"wires":[["6e6027cb.d4e908"]]},{"id":"31408d8d.85de62","type":"http response","z":"7dffdebb.dc0d3","name":"Response -> GET:kit detail","statusCode":"","headers":{},"x":720,"y":2320,"wires":[]},{"id":"f0f23439.aff758","type":"comment","z":"7dffdebb.dc0d3","name":"merge kit detail data","info":"","x":110,"y":2280,"wires":[]},{"id":"8185d293.3bb46","type":"function","z":"7dffdebb.dc0d3","name":"Set headers","func":"let kit_name = flow.get(\"kit_name\")\nlet kit_detail = msg.payload\n\nmsg.req = flow.get(\"req\")\nmsg.res = flow.get(\"res\")\nmsg.payload = {\"data\": kit_detail}\n\nmsg.statusCode = 200\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":2320,"wires":[["31408d8d.85de62"]]},{"id":"8dd8c607.d2a6d8","type":"debug","z":"7dffdebb.dc0d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":2240,"wires":[]},{"id":"fba7f461.eb1df8","type":"function","z":"7dffdebb.dc0d3","name":"Save http req/res","func":"flow.set(\"req\", msg.req)\nflow.set(\"res\", msg.res)\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":1720,"wires":[[]]},{"id":"3dfc5ec6.91bc82","type":"link out","z":"7dffdebb.dc0d3","name":"","links":["a53702b.67e4f"],"x":575,"y":1780,"wires":[]},{"id":"c90366df.0320d8","type":"mqtt out","z":"7dffdebb.dc0d3","name":"","topic":"","qos":"","retain":"","broker":"a29723e0.803f9","x":890,"y":1160,"wires":[]},{"id":"2c8c7e3b.c31822","type":"comment","z":"7dffdebb.dc0d3","name":"Flow variables","info":"# Name              Type        Storage\n\naccessToken         String      memory          \nrefreshToken        String      memory  \nkits                Array       memory\njobs                Array       memory\nkit_name            String      memory\nkit_quantities      String      memory\nkit_selected        String      memory\nrefresh_count       Number      memory\nflow_started        Number      memory\nqueue_length        Number      memory\nkit_queue_length    Number      memory\n","x":370,"y":60,"wires":[]},{"id":"fd624641.965938","type":"switch","z":"7dffdebb.dc0d3","name":"","property":"parts","propertyType":"msg","rules":[{"t":"index","v":"0","vt":"num","v2":"parts.count","v2t":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":1220,"wires":[["8e0c74cf.bd5298"]]},{"id":"8e0c74cf.bd5298","type":"join","z":"7dffdebb.dc0d3","name":"","mode":"auto","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":1220,"wires":[["df90e2a1.af789","28f19bf8.28e654"]]},{"id":"9528ba9f.913ed8","type":"link out","z":"7dffdebb.dc0d3","name":"","links":["72c560bd.ab2ec"],"x":955,"y":1080,"wires":[]},{"id":"72c560bd.ab2ec","type":"link in","z":"7dffdebb.dc0d3","name":"","links":["9528ba9f.913ed8"],"x":75,"y":1260,"wires":[["a9504b52.bacd78"]]},{"id":"5cf3b978.1e6198","type":"link out","z":"7dffdebb.dc0d3","name":"","links":["d59d363e.63f0e8"],"x":1035,"y":1860,"wires":[]},{"id":"d59d363e.63f0e8","type":"link in","z":"7dffdebb.dc0d3","name":"","links":["5cf3b978.1e6198"],"x":75,"y":2100,"wires":[["35bc19b4.5e10e6"]]},{"id":"54f157f4.4f7ea8","type":"switch","z":"7dffdebb.dc0d3","name":"","property":"parts","propertyType":"msg","rules":[{"t":"index","v":"0","vt":"num","v2":"parts.count","v2t":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":2060,"wires":[["b9c5507e.87e6f"]]},{"id":"b9c5507e.87e6f","type":"join","z":"7dffdebb.dc0d3","name":"","mode":"auto","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":2060,"wires":[["9ae965fd.f0d0d8"]]},{"id":"503cbb7a.c157c4","type":"function","z":"7dffdebb.dc0d3","name":"Error","func":"let return_response = flow.get(\"show_material_stop\")\nflow.set(\"show_material_stop\", 1)\n\nnode.error(`Error: ` + msg.payload, msg)\nlet res_msg = null\n\nif (return_response === 0){\n    res_msg = {}\n    res_msg.req = flow.get(\"req\")\n    res_msg.res = flow.get(\"res\")\n    res_msg.payload = msg.payload\n    res_msg.statusCode = msg.statusCode\n\n}\n\nmsg.reset = 1\nreturn [msg, res_msg]","outputs":2,"noerr":0,"initialize":"","finalize":"","x":470,"y":2140,"wires":[["b9c5507e.87e6f"],["8d0bf1c8.35cf9"]]},{"id":"6c94c978.199848","type":"link out","z":"7dffdebb.dc0d3","name":"","links":["fb977866.cb3fa8"],"x":975,"y":2060,"wires":[]},{"id":"28f19bf8.28e654","type":"function","z":"7dffdebb.dc0d3","name":"Message: Requesting active jobs","func":"msg.payload = \"Getting kits from active jobs...\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":1280,"wires":[["1fb4fb0c.b19645"]]},{"id":"1fb4fb0c.b19645","type":"mqtt out","z":"7dffdebb.dc0d3","name":"","topic":"message","qos":"","retain":"","broker":"a29723e0.803f9","x":1040,"y":1280,"wires":[]},{"id":"546a8357.a731ac","type":"switch","z":"7dffdebb.dc0d3","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":1160,"wires":[["c90366df.0320d8"]]},{"id":"9a0e0aa4.8c1f88","type":"debug","z":"7dffdebb.dc0d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":1900,"wires":[]},{"id":"304e0a3.1083ef6","type":"mqtt out","z":"7dffdebb.dc0d3","name":"","topic":"message","qos":"","retain":"","broker":"a29723e0.803f9","x":830,"y":2000,"wires":[]},{"id":"faf137b6.6b1b98","type":"function","z":"7dffdebb.dc0d3","name":"Message: Requesting kit item details","func":"let name = msg.req.query.name\nmsg.payload = \"Getting items for kit \"+name\nmsg.topic = message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":1660,"wires":[["3ff0fca7.f956b4"]]},{"id":"3ff0fca7.f956b4","type":"mqtt out","z":"7dffdebb.dc0d3","name":"","topic":"message","qos":"","retain":"","broker":"a29723e0.803f9","x":720,"y":1660,"wires":[]},{"id":"74d5274a.a682f8","type":"debug","z":"7dffdebb.dc0d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":220,"wires":[]},{"id":"a29723e0.803f9","type":"mqtt-broker","z":"","name":"aedes broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]